<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Read & Gain</title>
  </head>
  <style>
    span{
        color: red;
    }
  </style>
  <body>
    <center>
      <form action="/submit_summary" method="post" onsubmit="return validate()">
        <h4>Title of the Book</h4> <span id="Title"></span>
        <input type="text" name="title" id="title"/> 
        <h4>Author of the Book</h4> <span id="Author"></span>
        <input type="text" name="author" id="author">
        <h4>Summary</h4> <span id="Summary"></span>
        <textarea name="summary" id="summary" cols="100" rows="30"></textarea><br>
        <button class="submit" type="submit">Submit</button>
      </form>
    </center>
  </body>
  <script>
    function validate(){
        const title = document.getElementById('title').innerHTML;
        const author = document.getElementById('author').innerHTML;
        const summary = document.getElementById('summary').innerHTML;
        const check_title = /^[a-zA-Z]+$/;
        const check_auther = /^[a-zA-Z]+$/;
        const check_summary = /^[a-zA-Z]{200-1000}$/;
        if(!title.match(check_title)){
            document.getElementById('Title').innerHTML = "Title is not valid";
            return false;
        }
        else{
            document.getElementById('Title').innerHTML = "";
        }
        if(!author.match(check_auther)){
            document.getElementById('Author').innerHTML = "Title is not valid";
            return false;
        }
        else{
            document.getElementById('Author').innerHTML = "";
        }
        // if(!summary.match(check_summary)){
        //     document.getElementById('Summary').innerHTML = "Title is not valid";
        //     return false;
        // }
        // else{
        //     document.getElementById('Author').innerHTML = "";
        // }

    }
  </script>
</html>
